{% extends 'EventHorizonShoppingBundle::layout.html.twig' %}

{% block title %}
    - {% filter lower %}{% trans %}Moje promocje{% endtrans %} - {% trans %}Edycja promocji{% endtrans %}{% endfilter %}
{% endblock %}

{% block breadcrumb %}
    <li><a href="{{ path('promotion_index') }}">{% trans %}Moje promocje{% endtrans %}</a></li>
    <li><a href="{{ path('promotion_new') }}">{% trans %}Edycja promocji{% endtrans %}</a></li>
{% endblock %}

{% block content -%}
    {% include 'EventHorizonShoppingBundle:Promotion:form.html.twig' with { 'display_mode': 'edit' } %}
{% endblock %}
