<div class="panel panel-default">
    <div class="panel-body">
        {% if display_mode == 'new' %}
            <form action="{{ path('promotion_create') }}" class="form-horizontal" method="post" role="form" {{ form_enctype(form) }}>
            <input type="hidden" name="_method" value="post" />
        {% elseif display_mode == 'edit' %}
            <form action="{{ path('promotion_update', { 'id': promotion.id }) }}" class="form-horizontal" method="post" role="form" {{ form_enctype(form) }}>
            <input type="hidden" name="_method" value="put" />
        {% endif %}
            {{ form_errors(form) }}

        {% if display_mode == 'new' %}
            <h4>{% trans %}Nowa promocja{% endtrans %}</h4>
        {% elseif display_mode == 'edit' %}
            <h4>{% trans %}Edycja promocji{% endtrans %}</h4>
        {% endif %}
            <hr />

            <div class="form-group">
                {{ form_label(form.title, 'Tytuł', { 'label_attr': { 'class': 'col-lg-3 control-label' }}) }}
                <div class="col-lg-9">
                    {{ form_errors(form.title) }}
                    {{ form_widget(form.title, { 'attr': {'class': 'form-control', 'placeholder': 'Tytuł' }}) }}
                </div>
            </div>

            <div class="form-group">
                {{ form_label(form.description, 'Opis', { 'label_attr': { 'class': 'col-lg-3 control-label' }}) }}
                <div class="col-lg-9">
                    {{ form_errors(form.description) }}
                    {{ form_widget(form.description, { 'attr': {'class': 'form-control', 'placeholder': 'Opis' }}) }}
                </div>
            </div>

            <div class="form-group">
                {{ form_label(form.percent, 'Procent', { 'label_attr': { 'class': 'col-lg-3 control-label' }}) }}
                <div class="col-lg-9">
                    {{ form_errors(form.percent) }}
                    {{ form_widget(form.percent, { 'attr': {'class': 'form-control', 'placeholder': 'Procent' }}) }}
                </div>
            </div>

            <div class="form-group">
                {{ form_label(form.upperLimit, 'Limit', { 'label_attr': { 'class': 'col-lg-3 control-label' }}) }}
                <div class="col-lg-9">
                    {{ form_errors(form.upperLimit) }}
                    {{ form_widget(form.upperLimit, { 'attr': {'class': 'form-control', 'placeholder': 'Limit' }}) }}
                </div>
            </div>

            <div class="form-group">
                {{ form_label(form.displayingStartsAt, 'Wyświetlanie zaczyna się', { 'label_attr': { 'class': 'col-lg-3 control-label' }}) }}
                <div class="col-lg-9">
                    {{ form_errors(form.displayingStartsAt) }}
                    {{ form_widget(form.displayingStartsAt, { 'attr': {'class': 'form-control', 'placeholder': 'Wyświetlanie zaczyna się' }}) }}
                </div>
            </div>

            <div class="form-group">
                {{ form_label(form.displayingEndsAt, 'Wyświetlanie kończy się', { 'label_attr': { 'class': 'col-lg-3 control-label' }}) }}
                <div class="col-lg-9">
                    {{ form_errors(form.displayingEndsAt) }}
                    {{ form_widget(form.displayingEndsAt, { 'attr': {'class': 'form-control', 'placeholder': 'Wyświetlanie kończy się' }}) }}
                </div>
            </div>

            <div class="form-group">
                {{ form_label(form.promotionStartsAt, 'Promocja zaczyna się', { 'label_attr': { 'class': 'col-lg-3 control-label' }}) }}
                <div class="col-lg-9">
                    {{ form_errors(form.promotionStartsAt) }}
                    {{ form_widget(form.promotionStartsAt, { 'attr': {'class': 'form-control', 'placeholder': 'Promocja zaczyna się' }}) }}
                </div>
            </div>

            <div class="form-group">
                {{ form_label(form.promotionEndsAt, 'Promocja kończy się', { 'label_attr': { 'class': 'col-lg-3 control-label' }}) }}
                <div class="col-lg-9">
                    {{ form_errors(form.promotionEndsAt) }}
                    {{ form_widget(form.promotionEndsAt, { 'attr': {'class': 'form-control', 'placeholder': 'Promocja kończy się' }}) }}
                </div>
            </div>

            <div class="form-group">
                {{ form_label(form.isVisible, 'Widoczność', { 'label_attr': { 'class': 'col-lg-3 control-label' }}) }}
                <div class="col-lg-9">
                    {{ form_errors(form.isVisible) }}
                    {{ form_widget(form.isVisible, { 'attr': {'class': 'form-control'} }) }}
                </div>
            </div>

            <div class="form-group">
                <div class="col-lg-offset-3 col-lg-9">
                    <button class="btn btn-primary" type="submit"><span class="glyphicon glyphicon-ok"></span> {% trans %}Zapisz{% endtrans %}</button>
                    <a class="btn btn-info" href="{{ path('promotion_index') }}"><span class="glyphicon glyphicon-arrow-left"></span> {% trans %}Powrót{% endtrans %}</a>
                </div>
            </div>

            {{ form_rest(form) }}
        </form>
    </div>
</div>
