{% extends 'EventHorizonShoppingBundle::layout.html.twig' %}

{% block title %}
    - {% filter lower %}{% trans %}Moje promocje{% endtrans %}{% endfilter %}
{% endblock %}

{% block breadcrumb %}
    <li><a href="{{ path('promotion_index') }}">{% trans %}Moje promocje{% endtrans %}</a></li>
{% endblock %}

{% block content -%}
    <div class="panel panel-default">
        <div class="panel-body">
            <h4>{% trans %}Moje promocje{% endtrans %}</h4>
            <hr />

            <div class="table-responsive">
                {% for promotion in promotions %}
                    <table class="table table-bordered">
                        <tbody>
                            <tr>
                                <th>{% trans %}Tytuł{% endtrans %}</th>
                                <td colspan="4">{{ promotion.title }}</td>
                            </tr>
                            <tr>
                                <th>{% trans %}Opis{% endtrans %}</th>
                                <td colspan="4">{{ promotion.description }}</td>
                            </tr>
                            <tr>
                                <td><b>{% trans %}Procent{% endtrans %}</b> {{ promotion.percent|number_format(2, '.') }} %</td>
                                <td><b>{% trans %}Limit{% endtrans %}</b> {{ promotion.upperLimit }}</td>
                                <td>
                                    <b>{% trans %}Widoczność{% endtrans %}</b>
                                    {% if promotion.isVisible %}
                                        <span class="label label-success"><span class="glyphicon glyphicon-ok"></span> {% trans %}Tak{% endtrans %}</span>
                                    {% else %}
                                        <span class="label label-danger"><span class="glyphicon glyphicon-remove"></span> {% trans %}Nie{% endtrans %}</span>
                                    {% endif %}
                                </td>
                                <td colspan="2">
                                    <b>{% trans %}Akceptacja ze strony portalu{% endtrans %}</b>
                                    {% if promotion.isAccepted %}
                                        <span class="label label-success"><span class="glyphicon glyphicon-ok"></span> {% trans %}Tak{% endtrans %}</span>
                                    {% else %}
                                        <span class="label label-danger"><span class="glyphicon glyphicon-remove"></span> {% trans %}Nie{% endtrans %}</span>
                                    {% endif %}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <b>{% trans %}Wyświetlanie zaczyna się{% endtrans %}</b><br />
                                    {% if promotion.displayingStartsAt %}{{ promotion.displayingStartsAt|date('Y-m-d H:i:s') }}{% endif %}
                                </td>
                                <td>
                                    <b>{% trans %}Wyświetlanie kończy się{% endtrans %}</b><br />
                                    {% if promotion.displayingEndsAt %}{{ promotion.displayingEndsAt|date('Y-m-d H:i:s') }}{% endif %}
                                </td>
                                <td>
                                    <b>{% trans %}Promocja zaczyna się{% endtrans %}</b><br />
                                    {% if promotion.promotionStartsAt %}{{ promotion.promotionStartsAt|date('Y-m-d H:i:s') }}{% endif %}
                                </td>
                                <td>
                                    <b>{% trans %}Promocja kończy się{% endtrans %}</b><br />
                                    {% if promotion.promotionEndsAt %}{{ promotion.promotionEndsAt|date('Y-m-d H:i:s') }}{% endif %}
                                </td>
                                <td class="text-center">
                                    <a class="btn btn-success" href="{{ path('promotion_edit', { 'id': promotion.id }) }}"><span class="glyphicon glyphicon-pencil"></span> {% trans %}Edycja{% endtrans %}</a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                {% endfor %}
            </div>

            <a class="btn btn-primary pull-right" href="{{ path('promotion_new') }}"><span class="glyphicon glyphicon-plus"></span> {% trans %}Nowa promocja{% endtrans %}</a>
        </div>
    </div>
{% endblock %}
