{% extends 'EventHorizonShoppingBundle::layout.html.twig' %}

{% block title %}
    - {% filter lower %}{% trans %}Moje promocje{% endtrans %} - {% trans %}Nowa promocja{% endtrans %}{% endfilter %}
{% endblock %}

{% block breadcrumb %}
    <li><a href="{{ path('promotion_index') }}">{% trans %}Moje promocje{% endtrans %}</a></li>
    <li><a href="{{ path('promotion_new') }}">{% trans %}Nowa promocja{% endtrans %}</a></li>
{% endblock %}

{% block content -%}
    {% include 'EventHorizonShoppingBundle:Promotion:form.html.twig' with { 'display_mode': 'new' } %}
{% endblock %}
