<!DOCTYPE html>
<html>
    <head>
        {% include "::head.html.twig" %}
        <meta name="description" content="{% block description %}Shopping{% endblock %}" />
        <meta name="keywords" content="{% block keywords %}Shopping{% endblock %}" />
        <meta name="robots" content="{% block robots %}index, follow{% endblock %}" />
        {% include "::css.html.twig" %}
        {% block stylesheets %}{% endblock %}
        <title>Shopping {% block title %}{% endblock %}</title>
    </head>
    <body>
        {% block body %}{% endblock %}
        {% include "::js.html.twig" %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
