{% extends 'EventHorizonShoppingBundle::layout.html.twig' %}

{#{% form_theme form 'EventHorizonShoppingBundle:Form:fields.html.twig' %}#}

{% block title %}
    - {% filter lower %}{% trans %}Konto firmy{% endtrans %} - {% trans %}Edycja danych{% endtrans %}{% endfilter %}
{% endblock %}

{% block breadcrumb %}
    <li><a href="{{ path('user_management_index') }}">{% trans %}Konto firmy{% endtrans %}</a></li>
    <li><a href="{{ path('account_edit') }}">{% trans %}Edycja danych{% endtrans %}</a></li>
{% endblock %}

{% block content -%}
    <div class="panel panel-default">
        <div class="panel-body">
            <form action="{{ path('account_update') }}" class="form-horizontal" method="post" role="form" {{ form_enctype(form) }}>
                <input type="hidden" name="_method" value="PUT" />
                {{ form_errors(form) }}

                <h4>{% trans %}Edycja danych{% endtrans %}</h4>
                <hr />

                <h4>{% trans %}Dane firmy{% endtrans %}</h4>

                <div class="form-group">
                    {{ form_label(form.name, 'Nazwa firmy', { 'label_attr': { 'class': 'col-lg-3 control-label' }}) }}
                    <div class="col-lg-9">
                        {{ form_errors(form.name) }}
                        {{ form_widget(form.name, { 'attr': {'class': 'form-control', 'placeholder': 'Nazwa firmy'} }) }}
                    </div>
                </div>

                <div class="form-group">
                    {{ form_label(form.description, 'Opis firmy', { 'label_attr': { 'class': 'col-lg-3 control-label' }}) }}
                    <div class="col-lg-9">
                        {{ form_errors(form.description) }}
                        {{ form_widget(form.description, { 'attr': {'class': 'form-control', 'placeholder': 'Opis firmy'} }) }}
                    </div>
                </div>

                <div class="form-group">
                    {{ form_label(form.www, 'Strona www', { 'label_attr': { 'class': 'col-lg-3 control-label' }}) }}
                    <div class="col-lg-9">
                        {{ form_errors(form.www) }}
                        {{ form_widget(form.www, { 'attr': {'class': 'form-control', 'placeholder': 'Strona www'} }) }}
                    </div>
                </div>

                <div class="form-group">
                    {{ form_label(form.nip, 'NIP', { 'label_attr': { 'class': 'col-lg-3 control-label' }}) }}
                    <div class="col-lg-9">
                        {{ form_errors(form.nip) }}
                        {{ form_widget(form.nip, { 'attr': {'class': 'form-control', 'placeholder': 'NIP'} }) }}
                    </div>
                </div>

                <div class="form-group">
                    {{ form_label(form.bankAccount, 'Konto bankowe', { 'label_attr': { 'class': 'col-lg-3 control-label' }}) }}
                    <div class="col-lg-9">
                        {{ form_errors(form.bankAccount) }}
                        {{ form_widget(form.bankAccount, { 'attr': {'class': 'form-control', 'placeholder': 'Konto bankowe'} }) }}
                    </div>
                </div>

                <h4>{% trans %}Dane adresowe do faktur{% endtrans %}</h4>

                <div class="form-group">
                    {{ form_label(form.invoiceAddress.street, 'Ulica', { 'label_attr': { 'class': 'col-lg-3 control-label' }}) }}
                    <div class="col-lg-9">
                        {{ form_errors(form.invoiceAddress.street) }}
                        {{ form_widget(form.invoiceAddress.street, { 'attr': {'class': 'form-control', 'placeholder': 'Ulica'} }) }}
                    </div>
                </div>

                <div class="form-group">
                    {{ form_label(form.invoiceAddress.city, 'Miasto', { 'label_attr': { 'class': 'col-lg-3 control-label' }}) }}
                    <div class="col-lg-9">
                        {{ form_errors(form.invoiceAddress.city) }}
                        {{ form_widget(form.invoiceAddress.city, { 'attr': {'class': 'form-control', 'placeholder': 'Miasto'} }) }}
                    </div>
                </div>

                <div class="form-group">
                    {{ form_label(form.invoiceAddress.zipCode, 'Kod pocztowy', { 'label_attr': { 'class': 'col-lg-3 control-label' }}) }}
                    <div class="col-lg-9">
                        {{ form_errors(form.invoiceAddress.zipCode) }}
                        {{ form_widget(form.invoiceAddress.zipCode, { 'attr': {'class': 'form-control', 'placeholder': 'Kod pocztowy'} }) }}
                    </div>
                </div>

                <div class="form-group">
                    {{ form_label(form.invoiceAddress.country, 'Kraj', { 'label_attr': { 'class': 'col-lg-3 control-label' }}) }}
                    <div class="col-lg-9">
                        {{ form_errors(form.invoiceAddress.country) }}
                        {{ form_widget(form.invoiceAddress.country, { 'attr': {'class': 'form-control', 'placeholder': 'Kraj'} }) }}
                    </div>
                </div>

                <div class="form-group">
                    {{ form_label(form.invoiceAddress.email, 'E-mail', { 'label_attr': { 'class': 'col-lg-3 control-label' }}) }}
                    <div class="col-lg-9">
                        {{ form_errors(form.invoiceAddress.email) }}
                        {{ form_widget(form.invoiceAddress.email, { 'attr': {'class': 'form-control', 'placeholder': 'E-mail'} }) }}
                    </div>
                </div>

                <h4>{% trans %}Dane kontaktowe{% endtrans %}</h4>

                {% for contact in form.contacts %}
                    <div class="form-group">
                        {{ form_label(contact.street, 'Ulica', { 'label_attr': { 'class': 'col-lg-3 control-label' }}) }}
                        <div class="col-lg-9">
                            {{ form_errors(contact.street) }}
                            {{ form_widget(contact.street, { 'attr': {'class': 'form-control', 'placeholder': 'Ulica'} }) }}
                        </div>
                    </div>

                    <div class="form-group">
                        {{ form_label(contact.city, 'Miasto', { 'label_attr': { 'class': 'col-lg-3 control-label' }}) }}
                        <div class="col-lg-9">
                            {{ form_errors(contact.city) }}
                            {{ form_widget(contact.city, { 'attr': {'class': 'form-control', 'placeholder': 'Miasto'} }) }}
                        </div>
                    </div>

                    <div class="form-group">
                        {{ form_label(contact.zipCode, 'Kod pocztowy', { 'label_attr': { 'class': 'col-lg-3 control-label' }}) }}
                        <div class="col-lg-9">
                            {{ form_errors(contact.zipCode) }}
                            {{ form_widget(contact.zipCode, { 'attr': {'class': 'form-control', 'placeholder': 'Kod pocztowy'} }) }}
                        </div>
                    </div>

                    <div class="form-group">
                        {{ form_label(contact.country, 'Kraj', { 'label_attr': { 'class': 'col-lg-3 control-label' }}) }}
                        <div class="col-lg-9">
                            {{ form_errors(contact.country) }}
                            {{ form_widget(contact.country, { 'attr': {'class': 'form-control', 'placeholder': 'Kraj'} }) }}
                        </div>
                    </div>

                    <div class="form-group">
                        {{ form_label(contact.email, 'E-mail', { 'label_attr': { 'class': 'col-lg-3 control-label' }}) }}
                        <div class="col-lg-9">
                            {{ form_errors(contact.email) }}
                            {{ form_widget(contact.email, { 'attr': {'class': 'form-control', 'placeholder': 'E-mail'} }) }}
                        </div>
                    </div>
                {% endfor %}

                <div class="form-group">
                    <div class="col-lg-offset-3 col-lg-9">
                        <button class="btn btn-primary" type="submit"><span class="glyphicon glyphicon-ok"></span> {% trans %}Zapisz{% endtrans %}</button>
                        <a class="btn btn-info" href="{{ path('account_show') }}"><span class="glyphicon glyphicon-arrow-left"></span> {% trans %}Powrót{% endtrans %}</a>
                    </div>
                </div>

                {{ form_rest(form) }}
            </form>
        </div>
    </div>
{% endblock %}

{#
{% block javascripts %}
    <script type="text/javascript">
        $(document).ready(function() {
            var collectionHolder = $('tr.contacts');
            $('.add_contact_link').click(function(e) {
                e.preventDefault();
                collectionHolder.data('index', collectionHolder.find(':input').length);
                addContactForm(collectionHolder, '.contacts');
            });
            function addContactForm(collectionHolder, $newLinkLi) {
                // Get the data-prototype explained earlier
                var prototype = collectionHolder.data('prototype');

                // get the new index
                var index = collectionHolder.data('index');

                // Replace '__name__' in the prototype's HTML to
                // instead be a number based on how many items we have
                var newForm = prototype.replace(/__name__/g, index);

                // increase the index with one for the next item
                collectionHolder.data('index', index + 1);

                // Display the form in the page in an li, before the "Add a tag" link li
                var $newFormLi = $('<li></li>').append(newForm);
                $('.contacts').after($newFormLi);
            }
        });
    </script>
{% endblock %}
#}
