{% extends 'EventHorizonShoppingBundle::layout.html.twig' %}

{% block title %}
    - {% filter lower %}{% trans %}Konto firmy{% endtrans %}{% endfilter %}
{% endblock %}

{% block breadcrumb %}
    <li><a href="{{ path('user_management_index') }}">{% trans %}Konto firmy{% endtrans %}</a></li>
{% endblock %}

{% block content -%}
    <div class="panel panel-default">
        <div class="panel-body">
            <h4>{% trans %}Konto firmy{% endtrans %}</h4>
            <hr />

            <div class="table-responsive">
                <table class="table">
                    <tbody>
                        <tr>
                            <th colspan="2">{% trans %}Dane firmy{% endtrans %}</th>
                            <th colspan="2">{% trans %}Dane adresowe do faktur{% endtrans %}</th>
                        </tr>
                        <tr>
                            <th>{% trans %}Nazwa firmy{% endtrans %}</th>
                            <td>{{ company.name }}</td>
                            <th>{% trans %}Ulica{% endtrans %}</th>
                            <td>
                                {% if (company.invoiceAddress) %}
                                    {{ company.invoiceAddress.street }}
                                {% endif %}
                            </td>
                        </tr>
                        <tr>
                            <th>{% trans %}Opis{% endtrans %}</th>
                            <td>{{ company.description }}</td>
                            <th>{% trans %}Miasto{% endtrans %}</th>
                            <td>
                                {% if (company.invoiceAddress) %}
                                    {{ company.invoiceAddress.city }}
                                {% endif %}
                            </td>
                        </tr>
                        <tr>
                            <th>{% trans %}Www{% endtrans %}</th>
                            <td>{{ company.www }}</td>
                            <th>{% trans %}Kod pocztowy{% endtrans %}</th>
                            <td>
                                {% if (company.invoiceAddress) %}
                                    {{ company.invoiceAddress.zipCode }}
                                {% endif %}
                            </td>
                        </tr>
                        <tr>
                            <th>{% trans %}NIP{% endtrans %}</th>
                            <td>{{ company.nip }}</td>
                            <th>{% trans %}Kraj{% endtrans %}</th>
                            <td>
                                {% if (company.invoiceAddress) %}
                                    {{ company.invoiceAddress.country }}
                                {% endif %}
                            </td>
                        </tr>
                        <tr>
                            <th>{% trans %}Konto bankowe{% endtrans %}</th>
                            <td>{{ company.bankAccount }}</td>
                            <th>{% trans %}E-mail{% endtrans %}</th>
                            <td>
                                {% if (company.invoiceAddress) %}
                                    {{ company.invoiceAddress.email }}
                                {% endif %}
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

            {% if company.contacts|length > 0 %}
                <div class="table-responsive">
                    <table class="table table-bordered">
                        <caption>{% trans %}Dane kontaktowe{% endtrans %}</caption>
                        <tbody>
                            <tr>
                                <th>{% trans %}Ulica{% endtrans %}</th>
                                <th>{% trans %}Miasto{% endtrans %}</th>
                                <th>{% trans %}Kod pocztowy{% endtrans %}</th>
                                <th>{% trans %}Kraj{% endtrans %}</th>
                                <th>{% trans %}Email{% endtrans %}</th>
                            </tr>
                            {% for contact in company.contacts %}
                                <tr>
                                    <td>{{ contact.street }}</td>
                                    <td>{{ contact.city }}</td>
                                    <td>{{ contact.zipCode }}</td>
                                    <td>{{ contact.country }}</td>
                                    <td>{{ contact.email }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            {% endif %}

            {% if is_granted('ROLE_COMPANY_ACCOUNT_MANAGER') or is_granted('ROLE_COMPANY_DIRECTOR') %}
                <a class="btn btn-success pull-right" href="{{ path('account_edit') }}"><span class="glyphicon glyphicon-pencil"></span> {% trans %}Edycja{% endtrans %}</a>
            {% endif %}
        </div>
    </div>
{% endblock %}
