{% extends 'EventHorizonShoppingBundle::layout.html.twig' %}

{% block title %}
    - {% filter lower %}{% trans %}Logowanie{% endtrans %}{% endfilter %}
{% endblock %}

{% block breadcrumb %}
    <li><a href="{{ path('fos_user_security_login') }}">{% trans %}Logowanie{% endtrans %}</a></li>
{% endblock %}

{% block content %}
    {% if error %}
        <div class="alert alert-danger col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2">
            {{ error|trans }}
        </div>
    {% endif %}
    <div class="col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2 panel panel-default">
        <div class="panel-body">
            <form action="{{ path('fos_user_security_check') }}" class="form-horizontal" method="post" role="form">
                <h4>{% trans %}Logowanie{% endtrans %}</h4>
                <hr />
                <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />

                <div class="form-group">
                    <label class="col-lg-3 control-label" for="username">{% trans %}Nazwa użytkownika{% endtrans %}</label>
                    <div class="col-lg-9">
                        <input class="form-control" id="username" name="_username" placeholder="{% trans %}Nazwa użytkownika{% endtrans %}" required="required" type="text" value="{{ last_username }}" />
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-lg-3 control-label" for="password">{% trans %}Hasło{% endtrans %}</label>
                    <div class="col-lg-9">
                        <input class="form-control" id="password" name="_password" placeholder="{% trans %}Hasło{% endtrans %}" required="required" type="password" />
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-lg-offset-3 col-lg-9">
                        <div class="checkbox">
                            <label for="remember_me">
                                <input id="remember_me" name="_remember_me" type="checkbox" value="on" /> {% trans %}Nie wylogowuj mnie{% endtrans %}
                            </label>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-lg-offset-3 col-lg-9">
                        <button class="btn btn-primary" id="_submit" name="_submit" type="submit">{% trans %}Zaloguj{% endtrans %}</button>
                        <a href="{{ path('fos_user_resetting_request') }}">{% trans %}Nie pamiętasz hasła?{% endtrans %}</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
