{% extends 'EventHorizonShoppingBundle::layout.html.twig' %}

{% block title %}
    - {% filter lower %}{% trans %}Odzyskiwanie hasła{% endtrans %}{% endfilter %}
{% endblock %}

{% block breadcrumb %}
    <li><a href="{{ path('fos_user_resetting_request') }}">{% trans %}Odzyskiwanie hasła{% endtrans %}</a></li>
{% endblock %}

{% block content %}
    <div class="col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2 panel panel-default">
        <div class="panel-body">
            <p>{% trans %}W przeciągu ostatnich 24 godzin nastąpiła już próba odzyskania hasła.{% endtrans %}</p>
        </div>
    </div>
{% endblock %}
