{% extends 'EventHorizonShoppingBundle::layout.html.twig' %}

{% block title %}
    - {% filter lower %}{% trans %}Odzyskiwanie hasła{% endtrans %}{% endfilter %}
{% endblock %}

{% block breadcrumb %}
    <li><a href="{{ path('fos_user_resetting_request') }}">{% trans %}Odzyskiwanie hasła{% endtrans %}</a></li>
{% endblock %}

{% block content %}
    {% if invalid_username is defined %}
        <div class="alert alert-danger col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2">
            {% trans %}Nazwa użytkownika lub e-mail nie istnieje{% endtrans %}
        </div>
    {% endif %}
    <div class="col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2 panel panel-default">
        <div class="panel-body">
            <form action="{{ path('fos_user_resetting_send_email') }}" class="form-horizontal" method="post" role="form">
                <h4>{% trans %}Odzyskiwanie hasła{% endtrans %}</h4>
                <hr />

                <div class="form-group">
                    <label class="col-lg-3 control-label" for="username">{% trans %}Nazwa użytkownika{% endtrans %}</label>
                    <div class="col-lg-9">
                        <input class="form-control" id="username" name="username" placeholder="{% trans %}Nazwa użytkownika{% endtrans %}" type="text" />
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-lg-offset-3 col-lg-9">
                        <button class="btn btn-primary" type="submit">{% trans %}Resetuj hasło{% endtrans %}</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
