{% extends 'EventHorizonShoppingBundle::layout.html.twig' %}

{% trans_default_domain 'FOSUserBundle' %}

{% block title %}
    - {% filter lower %}{% trans %}Resetowanie hasła{% endtrans %}{% endfilter %}
{% endblock %}

{% block breadcrumb %}
    <li><a href="{{ path('fos_user_resetting_reset', {'token': token}) }}">{% trans %}Resetowanie hasła{% endtrans %}</a></li>
{% endblock %}

{% block content %}
    <div class="col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2 panel panel-default">
        <div class="panel-body">
            <form action="{{ path('fos_user_resetting_reset', {'token': token}) }}" class="form-horizontal" method="post" role="form" {{ form_enctype(form) }}>
                {{ form_errors(form) }}

                <h4>{% trans %}Resetowanie hasła{% endtrans %}</h4>
                <hr />

                <div class="form-group">
                    {{ form_label(form.plainPassword.first, 'Hasło', { 'label_attr': { 'class': 'col-lg-3 control-label' }}) }}
                    <div class="col-lg-9">
                        {{ form_errors(form.plainPassword.first) }}
                        {{ form_widget(form.plainPassword.first, { 'attr': {'class': 'form-control', 'placeholder': 'Hasło'} }) }}
                    </div>
                </div>

                <div class="form-group">
                    {{ form_label(form.plainPassword.second, 'Powtórz hasło', { 'label_attr': { 'class': 'col-lg-3 control-label' }}) }}
                    <div class="col-lg-9">
                        {{ form_errors(form.plainPassword.second) }}
                        {{ form_widget(form.plainPassword.second, { 'attr': {'class': 'form-control', 'placeholder': 'Powtórz hasło'} }) }}
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-lg-offset-3 col-lg-9">
                        <button class="btn btn-primary" type="submit">{% trans %}Zmień hasło{% endtrans %}</button>
                    </div>
                </div>

                {{ form_rest(form) }}
            </form>
        </div>
    </div>
{% endblock %}
