{% extends 'EventHorizonShoppingBundle::layout.html.twig' %}

{% block title %}
    - {% filter lower %}{% trans %}Konto użytkownika{% endtrans %} - {% trans %}Edycja konta{% endtrans %}{% endfilter %}
{% endblock %}

{% block breadcrumb %}
    <li><a href="{{ path('fos_user_profile_show') }}">{% trans %}Konto użytkownika{% endtrans %}</a></li>
    <li><a href="{{ path('fos_user_profile_edit') }}">{% trans %}Edycja konta{% endtrans %}</a></li>
{% endblock %}

{% block content %}
    <div class="col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2 panel panel-default">
        <div class="panel-body">
            <form action="{{ path('fos_user_profile_edit') }}" class="form-horizontal" method="post" role="form" {{ form_enctype(form) }}>
                {{ form_errors(form) }}

                <h4>{% trans %}Edycja konta{% endtrans %}</h4>
                <hr />

                <div class="form-group">
                    {{ form_label(form.username, 'Nazwa użytkownika', { 'label_attr': { 'class': 'col-lg-3 control-label' }}) }}
                    <div class="col-lg-9">
                        {{ form_errors(form.username) }}
                        {{ form_widget(form.username, { 'attr': {'class': 'form-control', 'placeholder': 'Nazwa użytkownika'} }) }}
                    </div>
                </div>

                <div class="form-group">
                    {{ form_label(form.email, 'E-mail', { 'label_attr': { 'class': 'col-lg-3 control-label' }}) }}
                    <div class="col-lg-9">
                        {{ form_errors(form.email) }}
                        {{ form_widget(form.email, { 'attr': {'class': 'form-control', 'placeholder': 'E-mail'} }) }}
                    </div>
                </div>

                <div class="form-group">
                    {{ form_label(form.current_password, 'Obecne hasło', { 'label_attr': { 'class': 'col-lg-3 control-label' }}) }}
                    <div class="col-lg-9">
                        {{ form_errors(form.current_password) }}
                        {{ form_widget(form.current_password, { 'attr': {'class': 'form-control', 'placeholder': 'Obecne hasło'} }) }}
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-lg-offset-3 col-lg-9">
                        <button class="btn btn-primary" type="submit"><span class="glyphicon glyphicon-ok"></span> {% trans %}Zapisz{% endtrans %}</button>
                        <a class="btn btn-info" href="{{ path('fos_user_profile_show') }}"><span class="glyphicon glyphicon-arrow-left"></span> {% trans %}Powrót{% endtrans %}</a>
                    </div>
                </div>

                {{ form_rest(form) }}
            </form>
        </div>
    </div>
{% endblock %}
