{% extends 'EventHorizonShoppingBundle::layout.html.twig' %}

{% block title %}
    - {% filter lower %}{% trans %}Konto użytkownika{% endtrans %}{% endfilter %}
{% endblock %}

{% block breadcrumb %}
    <li><a href="{{ path('fos_user_profile_show') }}">{% trans %}Konto użytkownika{% endtrans %}</a></li>
{% endblock %}

{% block content %}
    <div class="col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2 panel panel-default">
        <div class="panel-body">
            <h4>{% trans %}Konto użytkownika{% endtrans %}</h4>
            <hr />
            <table class="table">
                <tbody>
                    <tr>
                        <td>{% trans %}Nazwa użytkownika{% endtrans %}</td>
                        <td>{{ user.username }}</td>
                    </tr>
                    <tr>
                        <td>{% trans %}E-mail{% endtrans %}</td>
                        <td>{{ user.email }}</td>
                    </tr>
                </tbody>
            </table>
            <a class="btn btn-warning" href="{{ path('fos_user_change_password') }}"><span class="glyphicon glyphicon-lock"></span> {% trans %}Zmiana hasła{% endtrans %}</a>
            <a class="btn btn-success pull-right" href="{{ path('fos_user_profile_edit') }}"><span class="glyphicon glyphicon-pencil"></span> {% trans %}Edycja{% endtrans %}</a>
        </div>
    </div>
{% endblock %}
