{% extends '::base.html.twig' %}

{% block body %}
    <div class="container">
        <nav class="navbar navbar-default" role="navigation">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{{ path('_homepage') }}">Shopping</a>

            </div>

            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav">
                    {% if is_granted('ROLE_ADMIN') %}
                        <li>
                            <a href="{{ path('sonata_admin_dashboard') }}">
                                <span class="glyphicon glyphicon-wrench"></span> {% trans %}Administracja{% endtrans %}
                            </a>
                        </li>
                    {% endif %}
                    {% if is_granted('ROLE_COMPANY_USER') %}
                        <li>
                            <a href="{{ path('promotion_index') }}">
                                <span class="glyphicon glyphicon-barcode"></span> {% trans %}Moje promocje{% endtrans %}
                            </a>
                        </li>
                    {% endif %}
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-cog"></span> {% trans %}Konto{% endtrans %} <b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                {% if is_granted('ROLE_COMPANY_USER') %}
                                    <li>
                                        <a href="{{ path('account_show') }}">
                                            <span class="glyphicon glyphicon-globe"></span> {% trans %}Konto firmy{% endtrans %}
                                        </a>
                                    </li>
                                {% endif %}
                                {% if is_granted('ROLE_COMPANY_DIRECTOR') or is_granted('ROLE_HUMAN_RESOURCE_MANAGER') %}
                                    <li>
                                        <a href="{{ path('user_management_index') }}">
                                            <span class="glyphicon glyphicon-user"></span> {% trans %}Zarządzanie użytkownikami{% endtrans %}
                                        </a>
                                    </li>
                                {% endif %}
                                <li>
                                    <a href="{{ path('fos_user_profile_show') }}">
                                        <span class="glyphicon glyphicon-user"></span> {% trans %}Konto użytkownika{% endtrans %}
                                    </a>
                                </li>
                                <li>
                                    <a href="{{ path('fos_user_security_logout') }}">
                                        <span class="glyphicon glyphicon-off"></span> {% trans %}Wyloguj{% endtrans %}
                                    </a>
                                </li>
                            </ul>
                        </li>
                    {% else %}
                        <li>
                            <a href="{{ path('register', { type: 'user' }) }}">
                                {% trans %}Rejestracja użytkownika{% endtrans %}
                            </a>
                        </li>
                        <li>
                            <a href="{{ path('register', { type: 'company' }) }}">
                                {% trans %}Rejestracja firmy{% endtrans %}
                            </a>
                        </li>
                        <li>
                            <a href="{{ path('fos_user_security_login') }}">
                                {% trans %}Logowanie{% endtrans %}
                            </a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </nav>

        <ol class="breadcrumb">
            <li><a href="{{ path('_homepage') }}">{% trans %}Strona główna{% endtrans %}</a></li>
            {% block breadcrumb %}{% endblock %}
        </ol>

        <noscript>
            <div class="alert alert-danger col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2">
                {% trans %}Your browser does not support JavaScript.{% endtrans %}
                <a class="close" data-dismiss="alert" href="#" aria-hidden="true">&times;</a>
            </div>
            <div class="clearfix"></div>
        </noscript>

        {% for flashMessage in app.session.flashbag.get('alert') %}
            <div class="alert alert-warning col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2">
                {{ flashMessage }}
                <a class="close" data-dismiss="alert" href="#" aria-hidden="true">&times;</a>
            </div>
            <div class="clearfix"></div>
        {% endfor %}

        {% for flashMessage in app.session.flashbag.get('error') %}
            <div class="alert alert-danger col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2">
                {{ flashMessage }}
                <a class="close" data-dismiss="alert" href="#" aria-hidden="true">&times;</a>
            </div>
            <div class="clearfix"></div>
        {% endfor %}

        {% for flashMessage in app.session.flashbag.get('info') %}
            <div class="alert alert-info col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2">
                {{ flashMessage }}
                <a class="close" data-dismiss="alert" href="#" aria-hidden="true">&times;</a>
            </div>
            <div class="clearfix"></div>
        {% endfor %}

        {% for flashMessage in app.session.flashbag.get('success') %}
            <div class="alert alert-success col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2">
                {{ flashMessage }}
                <a class="close" data-dismiss="alert" href="#" aria-hidden="true">&times;</a>
            </div>
            <div class="clearfix"></div>
        {% endfor %}

        {% block content %}{% endblock %}

        <div class="clearfix"></div>
        <div class="col-lg-12 col-md-12 panel panel-default">
            <div class="panel-body">
                <address>
                    <strong>&copy; {{ "now"|date("Y") }} Shopping</strong>
                </address>
            </div>
        </div>
    </div>
{% endblock %}
