{% extends 'EventHorizonShoppingBundle::layout.html.twig' %}

{% block title %}
    - {% filter lower %}{% trans %}Zarządzanie użytkownikami{% endtrans %} - {% trans %}Edycja użytkownika{% endtrans %}{% endfilter %}
{% endblock %}

{% block breadcrumb %}
    <li><a href="{{ path('user_management_index') }}">{% trans %}Zarządzanie użytkownikami{% endtrans %}</a></li>
    <li><a href="{{ path('user_management_edit', { 'id': user.id }) }}">{% trans %}Edycja użytkownika{% endtrans %}</a></li>
{% endblock %}

{% block content -%}
    {% include 'EventHorizonShoppingBundle:UserManagement:form.html.twig' with { 'display_mode': 'edit' } %}
{% endblock %}
