<div class="panel panel-default">
    <div class="panel-body">
        {% if display_mode == 'new' %}
            <form action="{{ path('user_management_create') }}" class="form-horizontal" method="post" role="form" {{ form_enctype(form) }}>
            <input type="hidden" name="_method" value="post" />
        {% elseif display_mode == 'edit' %}
            <form action="{{ path('user_management_update', { 'id': user.id }) }}" class="form-horizontal" method="post" role="form" {{ form_enctype(form) }}>
            <input type="hidden" name="_method" value="put" />
        {% endif %}
            {{ form_errors(form) }}

        {% if display_mode == 'new' %}
            <h4>{% trans %}Nowy użytkownik{% endtrans %}</h4>
        {% elseif display_mode == 'edit' %}
            <h4>{% trans %}Edycja użytkownika{% endtrans %}</h4>
        {% endif %}
            <hr />

            <div class="form-group">
                {{ form_label(form.firstName, 'Imię', { 'label_attr': { 'class': 'col-lg-3 control-label' }}) }}
                <div class="col-lg-9">
                    {{ form_errors(form.firstName) }}
                    {{ form_widget(form.firstName, { 'attr': {'class': 'form-control', 'placeholder': 'Imię'} }) }}
                </div>
            </div>

            <div class="form-group">
                {{ form_label(form.lastName, 'Nazwisko', { 'label_attr': { 'class': 'col-lg-3 control-label' }}) }}
                <div class="col-lg-9">
                    {{ form_errors(form.lastName) }}
                    {{ form_widget(form.lastName, { 'attr': {'class': 'form-control', 'placeholder': 'Nazwisko'} }) }}
                </div>
            </div>

            <div class="form-group">
                {{ form_label(form.username, 'Nazwa użytkownika', { 'label_attr': { 'class': 'col-lg-3 control-label' }}) }}
                <div class="col-lg-9">
                    {{ form_errors(form.username) }}
                    {{ form_widget(form.username, { 'attr': {'class': 'form-control', 'placeholder': 'Nazwa użytkownika'} }) }}
                </div>
            </div>

            <div class="form-group">
                {{ form_label(form.email, 'E-mail', { 'label_attr': { 'class': 'col-lg-3 control-label' }}) }}
                <div class="col-lg-9">
                    {{ form_errors(form.email) }}
                    {{ form_widget(form.email, { 'attr': {'class': 'form-control', 'placeholder': 'E-mail'} }) }}
                </div>
            </div>

            <div class="form-group">
                {{ form_label(form.plainPassword.first, 'Hasło', { 'label_attr': { 'class': 'col-lg-3 control-label' }}) }}
                <div class="col-lg-9">
                    {{ form_errors(form.plainPassword.first) }}
                    {{ form_widget(form.plainPassword.first, { 'attr': {'class': 'form-control', 'placeholder': 'Hasło'} }) }}
                </div>
            </div>

            <div class="form-group">
                {{ form_label(form.plainPassword.second, 'Powtórz hasło', { 'label_attr': { 'class': 'col-lg-3 control-label' }}) }}
                <div class="col-lg-9">
                    {{ form_errors(form.plainPassword.second) }}
                    {{ form_widget(form.plainPassword.second, { 'attr': {'class': 'form-control', 'placeholder': 'Powtórz hasło'} }) }}
                </div>
            </div>

            <div class="form-group">
                {{ form_label(form.roles, 'Uprawnienia', { 'label_attr': { 'class': 'col-lg-3 control-label' }}) }}
                <div class="col-lg-9">
                    {{ form_errors(form.roles) }}
                    {{ form_widget(form.roles, { 'attr': {'class': 'form-control', 'placeholder': 'Uprawnienia'} }) }}
                </div>
            </div>

            <div class="form-group">
                {{ form_label(form.enabled, 'Konto włączone', { 'label_attr': { 'class': 'col-lg-3 control-label' }}) }}
                <div class="col-lg-9">
                    {{ form_errors(form.enabled) }}
                    {{ form_widget(form.enabled, { 'attr': {'class': 'form-control'} }) }}
                </div>
            </div>

            <div class="form-group">
                <div class="col-lg-offset-3 col-lg-9">
                    <button class="btn btn-primary" type="submit"><span class="glyphicon glyphicon-ok"></span> {% trans %}Zapisz{% endtrans %}</button>
                    <a class="btn btn-info" href="{{ path('user_management_index') }}"><span class="glyphicon glyphicon-arrow-left"></span> {% trans %}Powrót{% endtrans %}</a>
                </div>
            </div>

            {{ form_rest(form) }}
        </form>
    </div>
</div>
