{% extends 'EventHorizonShoppingBundle::layout.html.twig' %}

{% block title %}
    - {% filter lower %}{% trans %}Zarządzanie użytkownikami{% endtrans %}{% endfilter %}
{% endblock %}

{% block breadcrumb %}
    <li><a href="{{ path('user_management_index') }}">{% trans %}Zarządzanie użytkownikami{% endtrans %}</a></li>
{% endblock %}

{% block content -%}
    <div class="panel panel-default">
        <div class="panel-body">
            <h4>{% trans %}Zarządzanie użytkownikami{% endtrans %}</h4>
            <hr />

            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>{% trans %}Nazwisko i imię{% endtrans %}</th>
                            <th>{% trans %}Nazwa użytkownika{% endtrans %}</th>
                            <th>{% trans %}E-mail{% endtrans %}</th>
                            <th>{% trans %}Aktywność konta{% endtrans %}</th>
                            <th>{% trans %}Uprawnienia{% endtrans %}</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for employee in employees %}
                            <tr>
                                <td>{{ employee.user.id }}</td>
                                <td>{{ employee.user.lastName }} {{ employee.user.firstName }}</td>
                                <td>{{ employee.user.username }}</td>
                                <td>{{ employee.user.email }}</td>
                                <td>
                                    {% if employee.user.enabled %}
                                        <span class="label label-success"><span class="glyphicon glyphicon-ok"></span> {% trans %}Tak{% endtrans %}</span>
                                    {% else %}
                                        <span class="label label-danger"><span class="glyphicon glyphicon-remove"></span> {% trans %}Nie{% endtrans %}</span>
                                    {% endif %}
                                </td>
                                <td>
                                    <ul class="list-unstyled">
                                        {% for role in employee.user.roles %}
                                            <li>{{ role }}</li>
                                        {% endfor %}
                                    </ul>
                                </td>
                                <td>
                                    <a class="btn btn-success" href="{{ path('user_management_edit', { 'id': employee.user.id }) }}"><span class="glyphicon glyphicon-pencil"></span> {% trans %}Edycja{% endtrans %}</a>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <a class="btn btn-primary pull-right" href="{{ path('user_management_new') }}"><span class="glyphicon glyphicon-plus"></span> {% trans %}Nowy użytkownik{% endtrans %}</a>
        </div>
    </div>
{% endblock %}
