{% extends 'EventHorizonShoppingBundle::layout.html.twig' %}

{% block title %}
    - {% filter lower %}{% trans %}Zarządzanie użytkownikami{% endtrans %} - {% trans %}Nowy użytkownik{% endtrans %}{% endfilter %}
{% endblock %}

{% block breadcrumb %}
    <li><a href="{{ path('user_management_index') }}">{% trans %}Zarządzanie użytkownikami{% endtrans %}</a></li>
    <li><a href="{{ path('user_management_new') }}">{% trans %}Nowy użytkownik{% endtrans %}</a></li>
{% endblock %}

{% block content -%}
    {% include 'EventHorizonShoppingBundle:UserManagement:form.html.twig' with { 'display_mode': 'new' } %}
{% endblock %}
