{% extends 'EventHorizonShoppingBundle::layout.html.twig' %}

{% trans_default_domain 'FOSUserBundle' %}

{% block title %}
    - {% filter lower %}{% trans %}Rejestracja{% endtrans %}{% endfilter %}
{% endblock %}

{% block content %}
    <div class="col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2 panel panel-default">
        <div class="panel-body">
            <p>{{ 'registration.confirmed'|trans({'%username%': user.username}) }}</p>
            {% if app.session is not empty %}
                {% set targetUrl = app.session.get('_security.' ~ app.security.token.providerKey ~ '.target_path') %}
                {% if targetUrl is not empty %}<p><a href="{{ targetUrl }}">{{ 'registration.back'|trans }}</a></p>{% endif %}
            {% endif %}
        </div>
    </div>
{% endblock %}
