{% extends 'EventHorizonShoppingBundle::layout.html.twig' %}

{% block title %}
    - {% filter lower %}{% trans %}Rejestracja{% endtrans %}{% endfilter %}
{% endblock %}

{% block breadcrumb %}
    <li><a href="{{ path('register', { type: type }) }}">{% trans %}Rejestracja{% endtrans %}</a></li>
{% endblock %}

{% block content %}
    <div class="col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2 panel panel-default">
        <div class="panel-body">
            <form action="{{ path('register', { type: type }) }}" class="form-horizontal" method="post" role="form" {{ form_enctype(form) }}>
                {{ form_errors(form) }}
                {% if type == "company" %}
                    {{ form_errors(companyForm) }}
                {% endif %}

                <h4>{% trans %}Rejestracja{% endtrans %}</h4>
                <hr />

                {% if type == "company" %}
                    <div class="form-group">
                        {{ form_label(companyForm.name, 'Nazwa firmy', { 'label_attr': { 'class': 'col-lg-3 control-label' }}) }}
                        <div class="col-lg-9">
                            {{ form_errors(companyForm.name) }}
                            {{ form_widget(companyForm.name, { 'attr': {'class': 'form-control', 'placeholder': 'Nazwa firmy'} }) }}
                        </div>
                    </div>

                    <div class="form-group">
                        {{ form_label(companyForm.nip, 'NIP', { 'label_attr': { 'class': 'col-lg-3 control-label' }}) }}
                        <div class="col-lg-9">
                            {{ form_errors(companyForm.nip) }}
                            {{ form_widget(companyForm.nip, { 'attr': {'class': 'form-control', 'placeholder': 'NIP'} }) }}
                        </div>
                    </div>
                {% endif %}

                <div class="form-group">
                    {{ form_label(form.firstName, 'Imię', { 'label_attr': { 'class': 'col-lg-3 control-label' }}) }}
                    <div class="col-lg-9">
                        {{ form_errors(form.firstName) }}
                        {{ form_widget(form.firstName, { 'attr': {'class': 'form-control', 'placeholder': 'Imię'} }) }}
                    </div>
                </div>

                <div class="form-group">
                    {{ form_label(form.lastName, 'Nazwisko', { 'label_attr': { 'class': 'col-lg-3 control-label' }}) }}
                    <div class="col-lg-9">
                        {{ form_errors(form.lastName) }}
                        {{ form_widget(form.lastName, { 'attr': {'class': 'form-control', 'placeholder': 'Nazwisko'} }) }}
                    </div>
                </div>

                <div class="form-group">
                    {{ form_label(form.username, 'Nazwa użytkownika', { 'label_attr': { 'class': 'col-lg-3 control-label' }}) }}
                    <div class="col-lg-9">
                        {{ form_errors(form.username) }}
                        {{ form_widget(form.username, { 'attr': {'class': 'form-control', 'placeholder': 'Nazwa użytkownika'} }) }}
                    </div>
                </div>

                <div class="form-group">
                    {{ form_label(form.email, 'E-mail', { 'label_attr': { 'class': 'col-lg-3 control-label' }}) }}
                    <div class="col-lg-9">
                        {{ form_errors(form.email) }}
                        {{ form_widget(form.email, { 'attr': {'class': 'form-control', 'placeholder': 'E-mail'} }) }}
                    </div>
                </div>

                <div class="form-group">
                    {{ form_label(form.plainPassword.first, 'Hasło', { 'label_attr': { 'class': 'col-lg-3 control-label' }}) }}
                    <div class="col-lg-9">
                        {{ form_errors(form.plainPassword.first) }}
                        {{ form_widget(form.plainPassword.first, { 'attr': {'class': 'form-control', 'placeholder': 'Hasło'} }) }}
                    </div>
                </div>

                <div class="form-group">
                    {{ form_label(form.plainPassword.second, 'Powtórz hasło', { 'label_attr': { 'class': 'col-lg-3 control-label' }}) }}
                    <div class="col-lg-9">
                        {{ form_errors(form.plainPassword.second) }}
                        {{ form_widget(form.plainPassword.second, { 'attr': {'class': 'form-control', 'placeholder': 'Powtórz hasło'} }) }}
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-lg-offset-3 col-lg-9">
                        <button class="btn btn-primary" type="submit">{% trans %}Zarejestruj{% endtrans %}</button>
                    </div>
                </div>

                {{ form_rest(form) }}
                {% if type == "company" %}
                    {{ form_rest(companyForm) }}
                {% endif %}
            </form>
        </div>
    </div>
{% endblock %}
